/* ----- GENERAL ----- */
html {
	font-family: sans-serif;
	font-size: 100%;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
}

* {
	border-radius: 0 !important;
}

@font-face {
	font-family: Bromello;
	src: url(fonts/bromello.ttf);
}

/* ----- FULLPAGE ----- */
.full {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
	padding-top: 85px;
	padding-bottom: 25px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* ----- INTRO ----- */
#intro {
    display: table-cell;
    float: none;
    vertical-align: middle;
    height: 80px;
    top: 0px;
    text-align: center;
}

#intro h1 {
	color: #ff2d55;
	font-family: Bromello;
	width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 2px;
    font-size: 100px;
    font-weight: 400;
}

#intro .btn-circle {
    transition: all .3s ease-in-out;
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #0c0c0c;
    border-radius: 100%!important;
    font-size: 40px;
}

#intro i {
	color: black;
}

/* ----- NAVBAR ----- */
.navbar {
	z-index: 1000;
	position: inline-block;
	background-color: #ff2d55 !important;
	border-color: transparent !important;
}

.navbar ul {
	list-style-type: none;
	text-align: center;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

#myNavbar a {
	color: #fff;
}

#myNavbar a:hover, #myNavbar a:focus, #myNavbar .active a {
    color: #ff2d55;
    background-color: #fff !important;
}

.navbar-toggle {
	border-color: transparent !important;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
	background-color: transparent !important;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff !important;
}

/* ----- ABOUT ----- */
#about {
	display: block;
    min-height: 1200px;
    padding: 50px 10% 0 10%;
    text-align: center;
    background: #fff;
}

.shell {
	display: block;
	align: center;
}

#top-bar {
	display: block;
	align: center;
	text-align: center;
	color: #525252;
	padding: 3px;
	font-size: 12px;
	background: #DFDFDF;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#content {
	display: block;
	align: center;
	padding: 15px;
	text-align: left;
	background-color: #000;
	color: #fff;
	font-family: 'Courier New';
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#output {
	color: #bbb;
}

#output a {
	color: #bbb;
}

.skills {
	text-align: left;
	margin: 0 auto;
}

.skills h3 {
	margin-top: 0;
}

.skills ul {
	padding-left: 60px;
}

.skills li {
	font-size: 14px;
	padding-left: 5px;
}

.skills li.icons {
	list-style: none;
	font-size: 16px;
}

.skills li#dev:before {
	content: "\f121";
	font-family: 'FontAwesome';
	float: left;
	padding-right: 5px;
}

.skills li#tools:before {
	content: "\f120";
	font-family: 'FontAwesome';
	float: left;
	padding-right: 5px;
}

/* ----- EXPERIENCE ----- */
#experience {
	display: block;
	height: auto;
    padding: 50px 10% 0 10%;
    text-align: center;
    background: #fff;
}

#experience .portfolio-item {
  	margin: 0 0 15px 0;
  	right: 0;
}

#experience .portfolio-item .portfolio-link {
  	display: block;
  	position: relative;
  	max-width: 400px;
  	margin: 0 auto;
  	background-color: #fff;
}

#experience .portfolio-item .portfolio-link .img-responsive {
  	height: 200px;
  	min-width: 100%;
}

#experience .portfolio-item .portfolio-link .portfolio-hover {
  	background: #ff2d55;
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	opacity: 0;
  	transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}
#experience .portfolio-item .portfolio-link .portfolio-hover:hover {
  	opacity: 0.8;
}

#experience .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  	position: absolute;
  	width: 100%;
  	height: 20px;
  	font-size: 20px;
  	text-align: center;
  	top: 50%;
  	color: #fff;
  	margin-top: -20px;
}

#experience .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content p {
  	margin-top: -20px;
}

#experience .portfolio-item .portfolio-caption {
  	max-width: 400px;
  	max-height: 100px;
  	margin: 0 auto;
  	background-color: #f7f7f7;
  	text-align: center;
  	padding: 25px;
}

#experience .portfolio-item .portfolio-caption h4 {
  	margin: 0;
}

#experience .portfolio-item .portfolio-caption p {
	font-style: italic;
}

@media (min-width: 767px) {
  	#experience .portfolio-item {
    	margin: 0 0 30px;
  	}
}

/* ----- MODALS ----*/

.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #0c0c0c;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);

  z-index: 1000;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #0c0c0c;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);

  z-index: 1000;
}
/* ----- CONTACT ----- */
#contact {
	display: block;
	height: 100%;
	text-align: center;
	padding: 50px 10% 0 10%;
}

#contact .col-sm-4 {
	text-align: left;
	font-size: 20px;
}

#contact-form {
	overflow: hidden;
	text-align: right;
}

#contact-form .col-md-6 {
	padding: 0;
	padding-right: 15px;
}

#contact-form input[type="text"],
#contact-form input[type="email"] {
	border-bottom: 1px solid #0c0c0c;
}

#contact-form input[type="submit"] {
	border: 1px solid #0c0c0c;
	background-color: #fff;
}

#contact-form input[type="submit"]:hover {
	background-color: #0c0c0c;
	color: #fff;
}

#contact-form input {
	letter-spacing: 2px;
}

#contact-form input, 
#contact-form textarea {
	border: 0;
	width: 100%;
}

#contact-form textarea {
	border: 1px solid #0c0c0c;
}

#contact-form ::-webkit-input-placeholder {
	color: #0c0c0c;
	font-style: italic;
}

#contact i {
	width: 20px;
}

#contact i,
#contact p {
	display: inline-block;
	color: #0c0c0c;
}

#contact a:hover,
#contact a:focus {
	text-decoration: none;
	font-weight: bold;
}

/* ----- FOOTER ----- */
#footer {
	height: 5%;
	bottom: 10px;
	text-align: left;
	padding-left: 20px;
}

#footer p {
	letter-spacing: 2px;
	font-size: 15px;
}

#top {
	position: fixed;
	letter-spacing: 2px;
	font-size: 14px;
	bottom: 10px;
	right: 20px;
	text-decoration: none;
	color: #000;
}
