.app {
  color: var(--text);
  min-height: 100vh;
  padding: 2rem;
  width: min(75%, 1100px);
  max-width: 1100px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition:
    color 300ms ease,
    background-color 300ms ease;
}

@media (max-width: 640px) {
  .app {
    width: 100%;
    padding: 1rem;
  }
}

.header-actions {
  display: flex;
  flex-direction: row;
  gap: 16px;
  position: fixed;
  top: 16px;
  right: 16px;
}

.action-btn {
  background: transparent;
  color: var(--text);
  border: 1px solid transparent;
  padding: 8px;
  border-radius: 8px;
  display: inline-flex; /* helps with btn size and centering */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    color 200ms ease,
    border-color 200ms ease,
    background-color 200ms ease;
}

.action-btn svg {
  font-size: 24px;
}

.action-btn:hover {
  border-color: var(--accent);
}

.section {
  box-sizing: border-box;
  max-width: 900px;
  width: 100%;
  background: var(--card);
  padding: 40px 24px;
  margin: 40px auto;
  border-radius: 12px;
  transition:
    background-color 300ms ease,
    transform 200ms ease;
}

.section h2 {
  margin: 0 0 8px 0;
  color: var(--text);
}
.section p {
  margin: 0;
  color: var(--muted);
}

.author-emphasis {
  text-decoration: underline;
  font-weight: 900;
  font-style: italic;
}
