.app {
  color: var(--text);
  min-height: 100vh;
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition:
    color 300ms ease,
    background-color 300ms ease;
}

.header-actions {
  display: flex;
  flex-direction: row;
  gap: 16px;
  position: fixed;
  top: 16px;
  right: 16px;
}

.action-btn {
  background: transparent;
  color: var(--text);
  border: 1px solid transparent;
  padding: 8px;
  border-radius: 8px;
  display: inline-flex; /* helps with btn size and centering */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    color 200ms ease,
    border-color 200ms ease,
    background-color 200ms ease;
}

.action-btn svg {
  font-size: 24px;
}

.action-btn:hover {
  border-color: var(--accent);
}
