.app {
  color: var(--text);
  min-height: 100vh;
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition:
    color 300ms ease,
    background-color 300ms ease;
}

.toggle-theme {
  position: fixed;
  top: 16px;
  right: 16px;
  background: transparent;
  color: var(--text);
  border: 1px solid transparent;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  transition:
    color 200ms ease,
    border-color 200ms ease,
    background-color 200ms ease;
}

.theme-toggle svg {
  font-size: 20px;
}

button:hover {
  border-color: #646cff;
}
