:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  --bg: #ffffff;
  --text: #000000;
  --accent: #646cff;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
  transition:
    background-color 300ms ease,
    color 300ms ease;
}

body.dark {
  --bg: #000000;
  --text: #ffffff;
  --accent: #9fb4ff;
}
